<section
      class="container d-flex flex-wrap position-relative justify-content-between align-items-center"
    >
      <div class="position-relative information">
        <h2>It's not justo Coffee <br />It's <span>Starbucks</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
          corrupti dolor quia totam placeat at quod voluptates neque, ab
          perspiciatis natus eos repudiandae quisquam impedit nam asperiores,
          accusamus distinctio eius.
        </p>
        <a href="">LEARN MORE</a>
      </div>
      <div class="vasoking">
        <img class="vasokingImg" src="../../../assets/img/img1.png" alt="" />
      </div>
      <ul class="thumb d-flex align-items-end justify-content-center">
        <li>
          <img
            src="../../../assets/img/thumb1.png"
            onclick="imgSlider('../../../assets/img/thumb1.png');circleColor('#017143')"
          />
        </li>
        <li>
          <img
            src="../../../assets/img/thumb2.png"
            onclick="imgSlider('../../../assets/img/thumb2.png');circleColor('#eb7495')"
          />
        </li>
        <li>
          <img
            src="../../../assets/img/thumb3.png"
            onclick="imgSlider('../../../assets/img/thumb3.png');circleColor('#d752b1')"
          />
        </li>
      </ul>
      <ul class="redes">
        <li>
          <a href=""><img src="img/facebook.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="img/twitter.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="img/instagram.png" alt="" /></a>
        </li>
      </ul>
    </section>